<section id="aboutme">
	<h2>About me</h2>
	<hr>
	<div class="aboutmeContent">
		<p>Hi! I’m Nik, a global nomad and an true travel fanatic!<br>
		During travels I always get ideas on what gear I should have brought, but also makes me want to travel whilest working. <br>
		So, this website is my first real attampt on becoming a webdeveloper, next to giving you all updates on great outdoor/ camping and general traveling gear! <br><br> Got any questions? You can contact me here <li><%= link_to 'Contact', static_pages_contact_path %></li></p>
	</div>

	<%= image_tag("gear2.jpg") %> <img id="gear"> 
</section>