<!-- ABOUT -->



<section id="aboutme">
	<h2>ABOUT ME</h2>
	<hr>
	<div class="aboutmeContent">
		<p>Hi! I’m Nik, a global nomad and an true travel fanatic!</p>
	</div>

	<%= image_tag("gear2.jpg") %> <img id="gear"> 
	</section>