<!-- CONTACT -->

<section id="contact">
  <h2>CONTACT ME</h2>
    <hr>
      <p>Any questions? Please contact me:</p>
      <ul class="contactChoices">
        <li><a href="mailto:hetisik_nicoly@hotmail.com?" target="_blank"><%= image_tag("email.png") %></a></li>
        <li><a href="https://nl.linkedin.com/in/nicolebaltussen/" target="_blank"><%= image_tag("linkedin.jpg") %></a></li>
        <li><a href="https://github.com/NikTheNomad" target="_blank"><%= image_tag("github.png") %></a></li>
      </ul>
</section>