<section id="contact">
  <h2>CONTACT</h2>
    <hr>
      <p>You can find me on GitHub and other platforms as NiktheNomad.</p>
      <ul class="contactChoices">
        <li><a href="mailto:n.baltussen@hotmail.com?" target="_blank"><img src="images/email_icon.png"></a></li>
        <li><a href="https://www.linkedin.com/in/baltussennicole" target="_blank"><img src="images/linkedin.png"></a></li>
        <li><a href="https://github.com/NikTheNomad" target="_blank"><img src="images/github_icon.png"></a></li>
      </ul>
</section>