<!DOCTYPE html>
  <html lang="en">
  <meta charset="UTF-8"/>

<head>
  <title>Utrecht Bikes Index</title>

<div class="container">
      <div class="page-header">
        <h1>Dutch Bikes</h1>
      </div>
      <h2>Welcome</h2>
<p>Pop-up post-ironic ennui, stumptown chicharrones echo park brunch quinoa godard vinyl helvetica brooklyn.</p>
<p> <img src="/assets/images/bike.jpg"/></p>

<p>Welcome to my page! The date and time is <%= Time.now %></p>

<%= image_tag("bike.jpg") %>

<!-- <div class ="page-wrap">
<p> Meh mustache godard offal street art pabst. Austin cornhole crucifix four loko fap organic, meggings tattooed pinterest tofu etsy. Retro chambray cornhole four loko yuccie. Kinfolk fingerstache dreamcatcher chillwave gluten-free seitan. Tilde taxidermy farm-to-table literally, tousled thundercats YOLO chartreuse plaid lomo knausgaard cardigan bushwick aesthetic green juice. Tattooed bicycle rights single-origin coffee, kinfolk retro neutra bushwick flannel intelligentsia tilde organic 90's.

Fanny pack freegan thundercats jean shorts selvage paleo gluten-free knausgaard cornhole pug whatever, tofu everyday carry venmo hella. Deep v PBR&B skateboard, bespoke vegan flannel neutra fixie shoreditch chicharrones try-hard craft beer thundercats lo-fi. Fashion axe asymmetrical schlitz, taxidermy swag chartreuse PBR&B salvia. Austin deep v blog chartreuse, offal 3 wolf moon selvage pork belly kale chips cronut shabby chic messenger bag tote bag fap PBR&B. Tilde tote bag wolf biodiesel normcore chia. Chambray direct trade artisan, irony semiotics retro meditation aesthetic chillwave quinoa normcore marfa asymmetrical art party PBR&B. Food truck hammock vegan butcher, PBR&B irony cronut synth hella gentrify dreamcatcher roof party brunch salvia.
</p> -->


</div>





<!-- <!DOCTYPE html>
<html ng-app="shop">
<head>
  <title>Bikes</title>
  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="/assets/application-7ced66a97b954530677d66f30b005b33e81a010ddf7308507a0f28dd3a85d3d2.css" data-turbolinks-track="true" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/assets/application-4e591e6d29a2a3624d119dbd184def9b8597ce6b0dbd963d194d735309da7585.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="GGlh6XXz2QCeCCEhE3sYN2nbSQeeibvQydZkd3NUl5W+Q/DLVstQYuw+2ZPF7FuSn+UR8SwbYB+oD6Ek5jLiaA==" />
  
</head>
<!- <body> -->
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!- Brand and toggle get grouped for better mobile display -->
   <!--  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">Bikes</a>
    </div> --> 

    <!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/static_pages/about">About</a></li>
        <li><a href="/static_pages/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li id="login">
        <a href="/users/sign_in">Login</a>
      </li>
      </ul>
      <div class="nav navbar-form navbar-left" role="search">
         <form action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
              <!-<label for="q">Search for</label> -->
              <!-- <input type="text" name="q" id="q" />
              <input type="submit" name="commit" value="Search" />
            </form -->><!-- form_tag -->
      <!-- </div> -->
    <!-- </div> --><!-- /.navbar-collapse -->
  <!-- </div> --><!-- /.container-fluid -->
<!-- </nav>
 -->

  
<!-- 
    <footer>
      <div class="container">
        <p class="text-muted"><a href="/products">View</a></p>
      </div>
    </footer> -->

  
</body>
</html>
