<!-- Home/index page -->

<head>
  <title>NiktheNomad Home</title>

<div class="container">
      <div class="page-header">
        <h1>Nomad Travel Gear</h1>
      </div>
      <h2>Welcome</h2>
<p>Welcome to my page! The date and time is <%= Time.now %></p>
<p>Pop-up post-ironic ennui, stumptown chicharrones echo park brunch quinoa godard vinyl helvetica brooklyn.</p>


<%= image_tag("cave.jpg") %>

</div>

<!-- </body>
</html>
 -->