<div class ="page-wrap">
<p>Pop-up post-ironic ennui, stumptown chicharrones echo park brunch quinoa godard vinyl helvetica brooklyn. Meh mustache godard offal street art pabst. Austin cornhole crucifix four loko fap organic, meggings tattooed pinterest tofu etsy. Retro chambray cornhole four loko yuccie. Kinfolk fingerstache dreamcatcher chillwave gluten-free seitan. Tilde taxidermy farm-to-table literally, tousled thundercats YOLO chartreuse plaid lomo knausgaard cardigan bushwick aesthetic green juice. Tattooed bicycle rights single-origin coffee, kinfolk retro neutra bushwick flannel intelligentsia tilde organic 90's.

Fanny pack freegan thundercats jean shorts selvage paleo gluten-free knausgaard cornhole pug whatever, tofu everyday carry venmo hella. Deep v PBR&B skateboard, bespoke vegan flannel neutra fixie shoreditch chicharrones try-hard craft beer thundercats lo-fi. Fashion axe asymmetrical schlitz, taxidermy swag chartreuse PBR&B salvia. Austin deep v blog chartreuse, offal 3 wolf moon selvage pork belly kale chips cronut shabby chic messenger bag tote bag fap PBR&B. Tilde tote bag wolf biodiesel normcore chia. Chambray direct trade artisan, irony semiotics retro meditation aesthetic chillwave quinoa normcore marfa asymmetrical art party PBR&B. Food truck hammock vegan butcher, PBR&B irony cronut synth hella gentrify dreamcatcher roof party brunch salvia.
</p>

<p>Welcome to my page! The date and time is <%= Time.now %></p>

<%= image_tag("apple.jpg") %>
</div>
</body>