<h2>Welcome to Nik the Nomad's Travel Gear website!</h2>
<h3>Here's a sneekpeak of one of our products:</h3>

  <div class="image">
    <%= image_tag("hammock-1.jpg") %> <img id="hammock">
  </div>

<%= @featured_product.name %>

<br>
<%= link_to 'New Product', new_product_path %>

