/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
#productheader {
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	background-color: white;
	font-family: helvetica, verdana, sans-serif;
}

.row {
	width: 100%;
	color: #0c1822;
	background-color: #ecfefa;
	display: inline-block;
	padding-left: 10px;
	margin: 10px;
	border-left: 1px #0c1822; 
}

.row a {
	/*float: inherit;*/
	color: #0c1822;
	display: inline-block;
	padding: 10px;
}

.product-container p {
	text-align: inherit;
	display: inline-block;
	position: relative;
}

img {

}

/*.hr {
	width: 100%;
	color: #0c1822;
}*/

/*
padding etc
hover
image control
float/clear
*/
