/*// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
/*#productheader {
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	background-color: white;
	font-family: helvetica, verdana, sans-serif;
}*/

/*.row {
	max-width: 100%;
	color: #0c1822;
	background-color: #ecfefa;
	display: inline-block;
	padding-left: 10px;
	margin: 10px;
	border-left: 1px #0c1822; 
	text-align: inherit;
}*/

#pagecontainer{
	max-width: 100%;
}

/*
.product-container p {
	text-align: inherit;
	display: inline-block;
	position: relative;
	/*border: 1px solid black;*/


.hr {
	width: 100%;
	color: #0c1822;
}

