/*// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  position: relative !important;
  max-width: 100%;
}

nav {
  background-color: black;
  color: #595959;
  height: 30px;
  box-shadow: 0px 0.5px 1px #888888;
  top: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: -10px;
  text-align: center;
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 10000;
  position: absolute;
}

footer {
  clear: both;
  background-color: black;
  color: white;
  padding: 2px 20px;
  position: absolute;
}

/*css doesn't load? */