<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8"/>
<head>
  <title>ProjectOne</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">


	<header>
    <div class="menuBar">
      <div class="menuBarText">
        <p><a href="../index.html.erb" class="navscroll">Nicole Baltussen</a></p>
        <ul>
          <li><a href="#aboutme" class="navscroll">ABOUT ME</a></li>
          <li><a href="#contact" class="navscroll">CONTACT ME</a></li>
        </ul>
      </div>
    </div>
  </header>
<!-- 
<body>    
<div class="page-wrap">
  
  Content!
      
</div>
</body> -->

<hr>

<footer class="site-footer">
  <p>2015 © NikTheNomad</p>
</footer>


    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="app.js"></script>
    


		

<%= yield %>


</html>
